/* Add CSS Styling */
.p {
    background-color: pink;
    font-family: "Verdana", "DejaVu Sans", sans-serif;
}

#a, 
#b {
    color: blue;
}

#b,
#c {
    font-size: 24;
}

#a {
    font-size: 36;
}

#c{
    background-color: lightgreen;
    font-weight: bold;
}